@{
    ViewData["Title"] = "Index";
}

@model Alumno

<strong>vista normal</strong>
<p>
    Nombre: @Model.Nombre
    Id: @Model.Id
</p>

<strong>vista parcial</strong>
<partial name="_ObjetoEscuelaSimple" />